body{

font-family:Arial;

text-align:center;

background:#fff5f7;

margin:0;

padding:20px;

}

.page{

display:none;

}

.page.active{

display:block;

}

button{

width:90%;

max-width:350px;

padding:16px;

margin:12px;

font-size:20px;

border:none;

border-radius:12px;

background:#ff6f9c;

color:white;

}

input{

width:80%;

padding:14px;

margin:10px;

font-size:18px;

border-radius:10px;

border:1px solid #ccc;

}

video{

width:100%;

margin-top:20px;

border-radius:10px;

}

#count{

font-size:80px;

margin-top:40px;

}

canvas{

position:fixed;

top:0;

left:0;

pointer-events:none;

}
